[Desktop Entry]
Encoding=UTF-8
Name=Link to image
Type=Link
URL=https://gitlab.com/mft-python-02/codes/uploads/fb220ebd7e06a3a81580712593ee32d1/image.png
Icon=text-html
